
.wrapper {
  margin: auto;
  width:70vw;
}

#map {  
  width: 99vw;
  height: 70vh; 
}

#marker {
  background-image: url('../contents/misc/web_images/marker_logo_200.jpg');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  }

.elementIcon {
  background-image: url('../contents/misc/web_images/warning_icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 10px;
  }

.popUpText {
  text-align: left;
}

.mapboxgl-popup-content {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 400px;
  padding: 10px 10px 10px 10px ;  
}

.navigation{
  height: 5vh;
  font: 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  color: #225d86;
}

.navigation h1 {
  margin-left:40px;
  margin-top: 2vh;
  display: inline-block;
  font-style: normal;
  font-size: 30px;
  font: 'Helvetica Neue', sans-serif;
  color: #225d86;
}

.navigation a{
  font-weight: 600;
}

.link {
  float: right; 
  margin-top: 3vh;
  margin-left:10px;
  text-decoration: none;
  font: 16px/20px 'Helvetica Neue', sans-serif;
}

.last {
  float: right; 
  margin-top: 3vh;
  margin-left:10px;
  margin-right:20px;
  text-decoration: none;
  font: 16px/20px 'Helvetica Neue', sans-serif;
}

#peak {
  position: absolute;
  top: 16vh;
  left:10%;
  right:10%;
  width: 80%;
}

#hello-world {
  margin: auto;
  width:70vw;
  margin-top:5px;
  margin-bottom:30px;
  text-align: right;
}

 a {
  font: 16px/20px 'Helvetica Neue', sans-serif;
  color: #3887be;
  text-decoration: none;
}

.peak360 {
  position: absolute;
  margin-top:5vh;
  left:5%;
  right:5%;
  width: 90%;
}

.post {
  margin: auto;
  max-width: 70vw;
  text-align: justify;
}

.post img {
  border: 2px solid #fff;
  
}

.boxColor{
  width: 3%;
  float:left;
  background-color: #75CFF0;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 16vh;
  margin-right: 1.5vh;
}

.boxColorMain{
  width: 2.7%;
  float:left;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 11vh;
  margin-right: 1.5vh;
}

.content {
  width: 62vw;
}

.warnings{
  font-size: 16px;
  font-style: italic;
}

.menu {
  position:absolute;
  top: 7vh;
  left: 0.5vw;
}

.menu button {
  font:13px/20px 'Helvetica Neue', sans-serif;
  background:#3887be;
  color:#fff;
  width:120px;
  margin-right:1px;
  padding:10px;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  border-radius:5px;
  cursor:pointer;
  }

  .menu button.active,
  .menu button:hover {
    background-color:#52a1d8;
    }

    @media only screen and (max-width: 700px) {
      #map {  
        width: 100vw;
        height: 60vh; 
      }
      
      #marker {
        width: 30px;
        height: 30px;
      }

      .elementIcon {
        width: 15px;
        height: 15px;
        }

        .menu {
          left: 2vw;
        }

      .menu button {
        width: 80px;
        padding: 6px;
        font:13px/20px 'Helvetica Neue', sans-serif;
      }

      .navigation h1 {
        margin-left:15px;
        margin-top: 2vh;
        font-size: 22px;

      }

      .link {
        float: right; 
        margin-top: 2.7vh;
      }
      
      .last {
        margin-top: 2.7vh;
      }

      .boxColor{
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vh;
        padding-bottom: 18vh;

      }

      .boxColorMain{
        width: 5%;
        float:left;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 20vh;
        margin-right: 1.5vh;
      }

      .post {
        max-width: 85vw;
      }

      #hello-world {
        margin: auto;
        width:90vw;
        margin-top:5px;
        margin-bottom:30px;
        text-align: right;
      }

      .warnings{
        font-size: 15px;
      }

    }