.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#map {  
  width: 100vw;
  height: 90vh; 
}

#marker {
  background-image: url('./contents/web_images/marker_logo_200.jpg');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  }

.elementIcon {
  background-image: url('./contents/web_images/warning_icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 10px;
  }

.popUpText {
  text-align: left;
}

.mapboxgl-popup-content {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 400px;
  padding: 10px 10px 10px 10px ;  
}

.menu {
  position:absolute;
  top: 1vh;
  left: 0.5vw;
}

.menu button {
  font:13px/20px 'Helvetica Neue', sans-serif;
  background:#3887be;
  color:#fff;
  width:120px;
  margin-right:1px;
  padding:10px;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  border-radius:5px;
  cursor:pointer;

  }

  .menu button.active,
  .menu button:hover {
    background-color:#52a1d8;
    }

    @media only screen and (max-width: 700px) {
      #map {  
        width: 100vw;
        height: 60vh; 
      }
      
      #marker {
        width: 30px;
        height: 30px;
      }

      .elementIcon {
        width: 15px;
        height: 15px;
        }

        .menu {
          left: 2vw;
        }

      .menu button {
        width: 100px;
        padding: 6px;
        font:13px/20px 'Helvetica Neue', sans-serif;
      }
    }